<div class="container">
<form class="form" (ngSubmit)="transferir()">
    <h2 class="form__titulo">Nova transferencia</h2>
  
    <div class="form-field">
      <label class="form-field__label">Valor</label>
      <input class="form-field__input" id="valor" [(ngModel)]="value" name="value" type="text">
    </div>
  
    <div class="form-field">
      <label class="form-field__label">Destino</label>
      <input class="form-field__input" id="destino" [(ngModel)]="destino"  name="destino" type="text">
    </div>
    <div class="button-wrapper">
    <button class="button" type="submit">Transferencia</button>
    </div>
</form>
</div>